<html>
	<head>
		<title>Static Malware Classifier</title>
		<meta name="theme-color" content="#ffffff">
		<meta content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes" name="viewport">
    <link rel="stylesheet" href="../static/main.css">    
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	</head>
	<body>
	
		<div class="container" style="width: 100%">			
			<div class="wow fadeInUp content-card">
				
				<div class="icon-and-title-flex">
					<a href="https://hexterisk.github.io/"><img src="../static/img/hexterisk.jpg" class="appicon"></img></a>
					<div class="title-container">
						<span class="text-title">Malware Classifier</span>
						<br><div class="intertext-padding"></div>
						<span class="text-subtitle"><a href="https://hexterisk.github.io/" style="color: #333;">by hexterisk</a></span>
						<br><div class="intertext-padding"></div>
					</div>	
				</div><br><br>
				<span class="text-description" style="font-size: 1.1em">Please follow <a href="https://github.com/hexterisk/static-malwired">this link</a> for the repository of the project.</span><br>
				<br>
				{% block dynamic %}
				{% endblock %}
				
				<br>
				<br>
				
				<span class="text-description" style="font-size: 1.1em">Please follow <a href="https://hexterisk.tech/">this link</a> for the portfolio website.</span>
	</body>
</html>	